/*
 * 070F2B	-> FAF3E0
 * 1B1A55	-> F4E2D8
 * 535C91	-> C8AD7F
 * 9290C3	-> 9C7A5B
 * E6E6FA	-> 3B3B3B
 * */

body {
	background-color: #DCC7A1;
	color: #3B3B3B;
}

header h1 {
	font-weight: bold;
	margin-bottom: 0;
 	color: #9C7A5B;
}
header a {text-decoration: none;}

header svg {
	height: 20px;
	fill: #9C7A5B;
}

.content { 
	border-top: 6px solid #9C7A5B;
	border-bottom: 6px solid #9C7A5B;
}

.content h1 {
	margin-bottom: 0;
	text-align: center;
}

.content a, footer a, .last10 a {color: #9C7A5B;}

footer h5 {
	text-align: center;
}

footer ul {list-style-type: none;}

.last10 { 
	border-bottom: 6px solid #9C7A5B;
	padding-bottom: 8px;
}

.post-item {
	background-color: #F4E2D8;
}

.w3-bar-item {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.w3-bar-item img {margin-bottom: 3px;}

.bar-item-hover:hover {
	background-color: #C8AD7F !important;
}


figure.highlight, div.highlight {
	border:1px solid #C8AD7F;
	border-radius: 8px;
	padding-left: 16px;
}

